<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="<%= clientID %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <h1>Sign In and book your table</h1>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <a href="#" onclick="signOut();">Sign out</a>

    <script>
        function onSignIn(googleUser) {
            // const profile = googleUser.getBasicProfile();
            // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            // console.log('Name: ' + profile.getName());
            // console.log('Image URL: ' + profile.getImageUrl());
            // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

            const id_token = googleUser.getAuthResponse().id_token;
            
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '<%= apiVersion %>/auth/signin');
            xhr.setRequestHeader('Content-Type', '<%= contentType %>');
            xhr.onload = function() {
                if (xhr.status === 202) {
                    signOut();
                    location.assign('<%= apiVersion %>/users/me');
                }
            };
            xhr.send(JSON.stringify({ token: id_token }));
        }
    </script>

    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
            });
        }
    </script>
</body>
</html>